section#about {
    background: linear-gradient(70deg, rgb(248 228 260 / 24%) 0%, rgb(107 148 148 / 0%) 39%, rgb(166 236 250 / 13%) 100%);
    padding-top: 70px;
    padding-bottom: 120px;
    padding: 70px 100px 70px 100px;
    border-bottom: 2px solid #182828;
}

section#about > h2 {
    margin-bottom: 50px;
    font-weight: 900;
    font-size: 32px;
}

section#about > div > figure {
    float: left;
    margin-right: 50px;
    margin-bottom: 20px;
}

section#about > div > figure > figcaption {
    margin: 0 auto;
    font-weight: 600;
}

section#about > div .myPix {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid #182828;
}

section#about figure button {
    background: #3498db;
    padding: 0.5rem 1.5rem;
    border-radius: 16px;
    border: none;
    font-size: 16px;
    color: #ffffff;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

section#about figure button a {
    color: #ffffff;
}

section#about > div p {
    font-size: 16px;
    text-align: left;
    text-indent: 40px;
    margin-bottom: 10px;
}

section#about > div p > ul > li > span {
    font-weight: 900;
}


/* RESPONSIVENESS */
@media screen and (max-width: 768px) {
    section#about {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 480px) {
    section#about > div > figure {
        float: none;
        margin: 0 auto;
        margin-bottom: 30px;
    }
}