@keyframes hambAnim {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}

nav {
  text-align: left;
  height: 100px;
  width: 100%;
  position: fixed;
  transition: all .5s;
}

label.logo {
  display: inline-block;
  margin-left: 40px;
  height: 100px;
}

.rootLogo > img {
  margin-top: 25px;
  height: 50px;
}

nav ul {
  width: 100%;
  position: fixed;
  height: 100vh;
  background: #182828;
  top: 100px;
  left: -100%;
  text-align: center;
  transition: all .5s;
}

nav ul li {
  display: block;
  margin: 32px 0;
  line-height: 30px;
}

nav > ul > li > a {
  color: #EAEAEA;
  padding: 7px 10px;
  position: relative;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 400;
}

nav > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: #3182ce;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s
}

nav > ul > li > a:hover:after {
  width: 100%;
  background-color: #D9D9D9;
}

nav > ul > li > a.active:after {
  width: 100%;
}

nav > ul > li > button {
  margin-top: 24px; 
  background: #3182ce;
  padding: 0.5rem 1.5rem;
  border-radius: 16px;
  border: none;
}

a.resume {
  color: #D9D9D9;
  font-weight: 600;
  font-size: 20px;
}

.hamb {
  float: right;
  margin-top: calc((100px - 2.5rem) / 2);
  margin-right: 40px;
  cursor: pointer;
}

.hambChild {
  animation: hambAnim .5s ease-in-out;
}

.hambClose {
  display: none;
}

#check {
  display: none;
}

#check:checked ~ ul {
  left: 0;
}
#check:checked ~ label .hambClose {
  display: inline-block;
}
#check:checked ~ label .hambOpen {
  display: none;
}


/* RESPONSIVENESS */

@media screen and (max-width: 636px) {
  label.logo {
    margin-left: 35px;
  }
  .hamb {
    margin-right: 35px;
  }
  nav ul li {
    margin: 26px 0;
    line-height: 24px;
  }
  nav > ul > li > button {
    margin-top: 20px;
  }
  nav > ul > li > a,
  a.resume {
    font-size: 16px;
  }
}