@keyframes hambAnim {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0);
  }
}

nav {
  text-align: left;
  background: #C2B280;
  height: 70px;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid #182828;
}

label.logo {
  display: inline-block;
  margin-top: calc((70px - 3rem) / 2);
  padding: 0 30px;
}

.rootLogo > img {
  height: 3rem;
  width: 3rem;
}

nav ul {
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 70px;
  margin: 0 10px;
  font-size: 20px;
}

nav > ul > li > a {
  color: #182828;
  padding: 7px 10px;
  position: relative;
  text-transform: uppercase;
  font-size: 1.5rem;
}

nav > ul > li > a:after {
  content: "";
  position: absolute;
  background-color: #182828;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 0;
  transition: 0.3s
}

nav > ul > li > a:hover:after {
  width: 100%;
  background-color: #D9D9D9;
}

nav > ul > li > a.active:after {
  width: 100%;
}

nav > ul > li > button {
  margin-left: calc(30vw - 250px);
  background: #182828;
  padding: 0.5rem 1.5rem;
  border-radius: 16px;
}

a.resume {
  font-size: 20px;
  color: #D9D9D9;
}

.hamb {
  float: right;
  margin-top: calc((70px - 2.5rem) / 2);
  margin-right: 20px;
  cursor: pointer;
  display: none;
}

.hambChild {
  animation: hambAnim .5s ease-in-out;
}

.hambClose {
  display: none;
}

#check {
  display: none;
}


/* RESPONSIVENESS */

@media screen and (max-width: 1024px) {
  .hamb {
    display: block;
  }
  nav ul {
    width: 100%;
    position: fixed;
    height: 100vh;
    background: #C2B280;
    top: 70px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li {
    display: block;
    margin: 32px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav > ul > li > button {
    margin-left: 0;
    margin-top: 24px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  #check:checked ~ label .hambClose {
    display: inline-block;
  }
  #check:checked ~ label .hambOpen {
    display: none;
  }
}

@media screen and (max-width: 636px) {
  nav ul li {
    margin: 24px 0;
    line-height: 18px;
  }
  nav > ul > li > button {
    margin-top: 16px;
  }
}