.projectCard {
    background: #FFFFFF;
    width: 80%;
    height: 280px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    border: 2px solid #EEEEEE;
    border-radius: 16px;
    text-align: left;
    margin-bottom: 50px;
}

.projectImage {
    display: block;
    height: 100%;
    width: 40%;
    object-fit: cover;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
}

.projectDescription {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 60%;
}

.projectDescription h2,
.projectDescription .tools,
.projectDescription .description {
    margin-bottom: 16px;
}

.projectDescription .description {
    margin-top: -5px;
    font-size: 14px;
    color: #343434;
}

.projectDescription .tools {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.projectDescription .tools span {
    background: #EDF2F7;
    padding: 4px 10px;
    border-radius: 2px;
    color: #1A202C;
    font-size: 14px;
}

.projectButtons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.projectCard .projectButtons button {
    padding: 10px 12px;
    font-size: 14px;
    word-spacing: -2px;
    border-radius: 6px;
    border: none;
    font-weight: 600;
    background: #182828;
    color: #DDDDDD;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
}

.projectCard .projectButtons .githubBt {
    background: #EDF2F7;
    color: #1A202C;
}


/* RESPONSIVENESS */
@media screen and (max-width: 1024px) {
    .projectCard {
        width: 95%;
    }
}

@media screen and (max-width: 480px) {
    .projectCard {
        flex-direction: column;
        height: auto;
        width: 92%;
    }
    .projectImage {
        width: 100%;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 16px;
    }
    .projectDescription {
        width: 100%;
        padding: 15px;
        padding-top: 0;
    }
    .projectDescription h2 {
        font-size: 20px;
    }
    .projectDescription h2,
    .projectDescription .tools,
    .projectDescription .description {
        margin-bottom: 12px;
    }
    .projectButtons {
        margin-bottom: 30px;
    }
}