*, html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono';
}

#root {
  /* max-width: 1280px; */
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}


/* MAIN */

/* main {
  margin-bottom: 100vh;
  width: 100%;
} */