/* Copyright */
section#copyright {
    background: #182828;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 16px;
    color: #FFFFFF;
    border-top: 2px solid #0D1313;
}

section#copyright span {
    color: #FF0000;
}